a {
    text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'Amiri', serif;
}

p,
a {
    font-family: 'Raleway', sans-serif;
}

input,
li,
button,
label {
    font-family: 'Raleway', sans-serif;
    border: 10px solid rgb(4, 9, 82);
    padding: 30px;
    margin: 5px;
}

.cities {
    background-color: black;
    color: white;
    margin: 20px;
    padding: 20px;
}